<% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h1>Create A New Listing</h1>
            <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" placeholder="Add a catchy title" name="listing[title]" class="form-control"
                        required>
                    <div class="valid-feedback">Title looks good!</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="Enter Description" rows="4" cols="40"
                        class="form-control" required></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input type="file" name="listing[image]" class="form-control" required>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" placeholder="1200" name="listing[price]" class="form-control" required>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" placeholder="Enter Location" name="listing[location]" class="form-control"
                            required>
                        <div class="invalid-feedback">Location should be valid</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" placeholder="Enter Country" name="listing[country]" class="form-control"
                        required>
                    <div class="invalid-feedback">Country name should be valid</div>
                </div>

                <button class="btn btn-dark add-btn mt-3">Create</button>
                <br><br>
            </form>
        </div>
    </div>